# Rules for Linnstrument Arduino compiling
SUBSYSTEM=="tty", GROUP="plugdev", MODE="0660"
  SUBSYSTEM=="usb", ATTR{idVendor}="f055", ATTR{idProduct}="0070", SYMLINK+="arduino"
